/*selector universal*/
*{
    box-sizing: border-box;  
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    padding: 50px;
    background-color: aquamarine;
    text-align: center;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: #333;
}

nav a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}
p{
    text-align: justify;
}

.row{
    display: flex;
    flex-wrap: wrap;

}

aside{
    flex: 30%;
    background-color: khaki;
    padding: 20px;
}

section{
    flex: 70%;
    background-color: beige;
    padding: 20px;
}

footer{
    padding: 20px;
    text-align: center;
    background-color: palevioletred;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    background-color: bisque;
    padding: 10px;
    border: 2px solid black;
    height: 300;
    flex-direction: row;
    justify-content: space-around;
}

.contenedor div{
    background-color: blueviolet;
    width: 100px;
    margin: 10px;
    text-align: center; 
    line-height: 75px; 
    font-size: 30px;  
    border: 2px solid black;
}